.post-offer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-post-offer {
  padding: 50px;
  box-shadow: 0 0 3px #c4c4c4;
  margin: 19px;
}

.title-post-offer {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}
