<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" *ngIf="hasPrevious">
      <a class="page-link" (click)="onChangePage(pageActive-1)"aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li class="page-item" [ngClass]="{'active':page==pageActive}" *ngFor="let page of totalPages"><a class="page-link" (click)="onChangePage(page)">{{page}}</a></li>

    <li class="page-item" *ngIf="hasNext">
      <a class="page-link" (click)="onChangePage(pageActive+1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
